/* ------------------ HOMEPAGE ------------------ */

body {
    font-family: Arial;
}

#menubar{
	/*border: 1px solid black;*/
}

#pagecontent{
	height: 42em;
	/*border: 1px solid black;*/	
}

/* -------------------- MENUBAR -------------------- */

.menu_options{
	/*border: 1px solid black;*/	
	display: inline-block;
}

button {
    outline: none;
    border-radius: 10px;
    padding: 16px 190px;
    margin: auto;
    font-size: 17px;
    font-weight: bold;
}

.dobutton {
    background-color: #05abe9;
    color: #FFFFFF;
}

.dobutton:hover {
    background-color: #969494;
}

/*#username {
    margin-left: 900px;
}*/

#logout {
    background-color: #222222;
    color: #FFFFFF;
    float: right;
    padding: 16px 50px;
}

#logout:hover {
    background-color: #969494;
}

/* ------------------- COMPOSE ------------------- */

#header {
    padding: 10px 0;
    margin-left: 18px;
}

#new_message {
    background-color: #222222;
    color: #FFFFFF;
    padding: 1px 0;
}

.textfield {
    width: 100%;    
}

textarea {
    width: 100%;  
    height: 400px;
    font-family: Arial;
} 

#Send {
    background-color: #05abe9;
    padding: 10px 25px;
    border-radius: 10px;
    color: #FFFFFF;
}

#Send:hover {
    background-color: #969494;
}

/* -------------------- INBOX --------------------- */

#table_header {
    margin: auto;
    padding: 20px 0;
}

.header {
    
}

/* -------------------- PEOPLE ---------------------- */

table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    color: #FFFFFF;
    border-color: #CECCCC;
}

h2 {
    text-align: center;
}

th {
    margin: auto;
    padding: 0 90px;   
    background-color: #222222;
} 

td {
    padding: 5px 90px;
    background-color: #DDDDDD;
    color: #222222;
}



